@import "tailwindcss";

:root {
  --color-bg: #fceaf8;
  --color-panel: #fdf2fa;
  --color-accent: #ff6bb5;
  --color-accent-hover: #ff1492;
  --color-text: #3b2f3f;
  --color-text-muted: #bf8d8e;
  --color-hearts: #ffb8c1;
  --color-success: #7acb8a;
  --color-error: #f295be;
  --color-grass: #bde6c5;
  --color-soil: #bf8d8e;
}

@theme inline {
  --color-bg: var(--color-bg);
  --color-panel: var(--color-panel);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-hearts: var(--color-hearts);
  --color-success: var(--color-success);
  --color-error: var(--color-error);
  --color-grass: var(--color-grass);
  --color-soil: var(--color-soil);
}

html, body, #root {
  height: 100%;
  margin: 0;
}
